
.outerContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.mainContainer {
    width: 80%;
    display: flex;
    justify-content: center;
}

.mainCard {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-badge-content {
    font-family: 'Material Icons';
}