
.mainContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer{
    padding: 10px;
    width: 1180px;
}

.displayCard {
    height: 220px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    border: 1px solid rgba(119, 0, 255, 0.63);;
    background-color: #242325;
}

.displayCard:hover {
    border: 2px solid #F5B700;
    height: 230px;
    width: 290px;
    background-color: #323033;
}

.displayCard:active {
    border: 2px solid rgba(119, 0, 255, 0.63);;
    height: 220px;
    width: 280px;
}

.featureIcons {
    height: 86%;
    margin-bottom: 8px;
}

.featureTitle {
    background-color: aqua;
    width: 100%;
}

mat-grid-tile {
}