
<div class="mainContainer">
    <div class="gridContainer">
        <mat-grid-list cols="3" rowHeight="320px" gutterSize="10px">

            <mat-grid-tile>
                <mat-card class="displayCard">

                    <img src="./../../assets/engineering-svgrepo-com.svg" class="featureIcons">
                    
                    <h5>Hardware Projects</h5>

                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="displayCard">

                    <img src="./../../assets/website-svgrepo-com.svg" class="featureIcons">
                    
                    <h5>Web Development</h5>

                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="displayCard">

                    <img src="./../../assets/github-octocat-svgrepo-com.svg" class="featureIcons">
                    
                    <h5>My Github</h5>

                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>