
.mainContainer {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.gridContainer{
    padding: 10px;
    width: 86%;
}

.displayCard {
    height: 220px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rebeccapurple;
}

.displayCard:hover {
    border: 4px solid rebeccapurple;
    height: 224px;
    width: 284px;
}

.displayCard:active {
    border: 3px solid rebeccapurple;
    height: 220px;
    width: 280px;
}

.featureIcons {
    height: 90%;
    padding-bottom: 4px;
}

.featureTitle {
    background-color: aqua;
    width: 100%;
}

mat-grid-tile {
}