
<div class="mainContainer">
    <div class="gridContainer">
        <mat-grid-list cols="3" rowHeight="320px" gutterSize="10px">

            <mat-grid-tile>
                <mat-card class="displayCard" routerLink="hardware">

                    <img src="./../../assets/engineering2.png" class="featureIcons">
                    
                    <h3>Hardware Projects</h3>

                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="displayCard" routerLink="software">

                    <img src="./../../assets/ux.png" class="featureIcons">
                    
                    <h3>Web Development</h3>

                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="displayCard"  (click)="gitHub()">

                    <img src="./../../assets/githubP.png" class="featureIcons">
                    
                    <h3>My Github</h3>

                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>