<div class="mainContainer">
    <div class="topContainer">
        <mat-grid-list cols="2" rowHeight="400px" gutterSize="20px">
            <mat-grid-tile>
                <img src="./../../assets/e_foil.jpg" class="projectImg" [class.mat-elevation-z6]="true">
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="largeCard">
                    <hr class="largeCardLine">
                    <div class="cardTitleContainer">
                        <mat-icon class="cardIcon">surfing</mat-icon><a class="cardTitle">Hydrofoil Project</a>
                    </div>
                    <mat-divider [inset]="true"></mat-divider>
                    <p class="cardText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                        culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-card-actions>
                        <div class="cardActions">
                            <button mat-stroked-button class="actionButtons"><mat-icon class="buttonIcon">info</mat-icon>More Information</button>
                            <button mat-stroked-button class="actionButtons"><mat-icon class="buttonIcon">view_in_ar</mat-icon>View 3D Model</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="largeCard">
                    <hr class="largeCardLine">
                    <mat-icon class="cardIcon">surfing</mat-icon><a class="cardTitle">Hydrofoil Project</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <p class="cardText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <img src="./../../assets/tyre.jpg" class="projectImg" [class.mat-elevation-z6]="true">
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>

    <div class="testContainer">

        <mat-grid-list cols="2" rowHeight="240px" gutterSize="4px">

            <mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">code</mat-icon><a class="cardTitle">Software Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Garage Control Portal</li>
                        <li>Cotswold Destinations Prototype</li>
                        <li>Energy Usage Dashboard</li>
                        <li>This portfolio website</li>
                        <li>Crud Application Demo</li>
                    </ul>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">engineering</mat-icon><a class="cardTitle">CAD Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Development Kit</li>
                        <li>Carbon-Fibre Test Molds</li>
                        <li>Garage Door Opener</li>
                        <li>Electric-Hydrofoil Concept</li>
                    </ul>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">code</mat-icon><a class="cardTitle">Software Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Garage Control Portal</li>
                        <li>Cotswold Destinations Prototype</li>
                        <li>Energy Usage Dashboard</li>
                        <li>This portfolio website</li>
                        <li>Crud Application Demo</li>
                    </ul>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">engineering</mat-icon><a class="cardTitle">CAD Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Development Kit</li>
                        <li>Carbon-Fibre Test Molds</li>
                        <li>Garage Door Opener</li>
                        <li>Electric-Hydrofoil Concept</li>
                    </ul>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">code</mat-icon><a class="cardTitle">Software Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Garage Control Portal</li>
                        <li>Cotswold Destinations Prototype</li>
                        <li>Energy Usage Dashboard</li>
                        <li>This portfolio website</li>
                        <li>Crud Application Demo</li>
                    </ul>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">engineering</mat-icon><a class="cardTitle">CAD Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Development Kit</li>
                        <li>Carbon-Fibre Test Molds</li>
                        <li>Garage Door Opener</li>
                        <li>Electric-Hydrofoil Concept</li>
                    </ul>
                </mat-card>
            </mat-grid-tile><mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">code</mat-icon><a class="cardTitle">Software Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Garage Control Portal</li>
                        <li>Cotswold Destinations Prototype</li>
                        <li>Energy Usage Dashboard</li>
                        <li>This portfolio website</li>
                        <li>Crud Application Demo</li>
                    </ul>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="projectCards">
                    <hr class="cardLine">
                    <mat-icon class="cardIcon">engineering</mat-icon><a class="cardTitle">CAD Projects</a>
                    <mat-divider [inset]="true"></mat-divider>
                    <ul>
                        <li>Development Kit</li>
                        <li>Carbon-Fibre Test Molds</li>
                        <li>Garage Door Opener</li>
                        <li>Electric-Hydrofoil Concept</li>
                    </ul>
                </mat-card>
            </mat-grid-tile>

        </mat-grid-list>
    </div>