<div class="mainContainer">
    <div class="topContainer">
        <mat-grid-list cols="2" rowHeight="50px" gutterSize="0px">

            <mat-grid-tile colspan="2" rowspan="1">
                <hr class="gridLine">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <img src="./../../assets/foil1.png" class="projectImg" [class.mat-elevation-z6]="true">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <mat-card class="largeCard" [class.mat-elevation-z6]="true">

                    <div class="cardTitleContainer">
                        <mat-card class="cardTitleBox" [class.mat-elevation-z4]="true">
                            <img src="./../../assets/surfing-48.png" class="iconImg"><a class="cardTitle">E-foil Project</a>
                        </mat-card>
                    </div>

                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <p class="cardText">
                        I’ve always had an interest in hydrofoils, so with the advent of electric foils coming to market I decided to build one. After gaining some experience in CAD and CFD software I started to experiment with some virtual models. This is an ongoing project, and it comes with a lot of challenges in computational simulation, composite manufacturing and basic electronics. Click more info if you would like an in-depth breakdown of the current state of the project, or take a quick look via the 3-D model link.
                    </p>
                    
                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <mat-card-actions>
                        <div class="cardActions">
                            <button mat-stroked-button class="actionButtons" (click)="eFoil()"><mat-icon class="buttonIcon">feed</mat-icon>More Information</button>
                            <button mat-stroked-button class="actionButtons" (click)="hydroModel()"><mat-icon class="buttonIcon">view_in_ar</mat-icon>View 3D Model</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1">
                <hr class="gridLine">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <img src="./../../assets/v3_assembly.png" class="projectImg" [class.mat-elevation-z6]="true">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <mat-card class="largeCard" [class.mat-elevation-z6]="true">

                    <div class="cardTitleContainer">
                        <mat-card class="cardTitleBox" [class.mat-elevation-z4]="true">
                            <img src="./../../assets/code-48.png" class="iconImg"><a class="cardTitle">Development Kit</a>
                        </mat-card>
                    </div>

                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <p class="cardText">
                        At first I made this dev-kit so I could easily test a can-bus project I was working on at the time. I wanted to make a basic OBD2 digital dash using a Raspberry Pi-3 with a can-bus hat and a touchscreen. I wanted to keep all the cables external as I wanted to be able to change components quickly, with that in mind I iterated through 3 designs. This is a great example of prototype development driven by real world testing. Since then I have used this devkit to test various automation and IOT projects. 
                    </p>
                    
                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <mat-card-actions>
                        <div class="cardActions">
                            <button mat-stroked-button class="actionButtons" (click)="devKit()"><mat-icon class="buttonIcon">feed</mat-icon>More Information</button>
                            <button mat-stroked-button class="actionButtons" (click)="DevkitModel()"><mat-icon class="buttonIcon">view_in_ar</mat-icon>View 3D Model</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1">
                <hr class="gridLine">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <img src="./../../assets/boat.png" class="projectImg" [class.mat-elevation-z6]="true">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <mat-card class="largeCard" [class.mat-elevation-z6]="true">

                    <div class="cardTitleContainer">
                        <mat-card class="cardTitleBox" [class.mat-elevation-z4]="true">
                            <img src="./../../assets/carbon-48.png" class="iconImg"><a class="cardTitle">Carbon-fiber</a>
                        </mat-card>
                    </div>

                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <p class="cardText">
                        This project’s objective is to test the viability of making Carbon Fiber at home utilizing a wet layup technique, and to test the different ways I can improve surface finish. The reason I decided to conduct this test is to test the whole process of making composite parts for more mechanically demanding projects. I used a simple negative draft mold of a small boat model. The mold was directly 3D printed out of PETG for strength & rigidity while remaining chemically unreactive throughout the process. There’s a lot to cover on this project so click more info to find out more.
                    </p>
                    
                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <mat-card-actions>
                        <div class="cardActions">
                            <button mat-stroked-button class="actionButtons" (click)="carbon()"><mat-icon class="buttonIcon">feed</mat-icon>More Information</button>
                            <button mat-stroked-button class="actionButtons" (click)="CarbonModel()"><mat-icon class="buttonIcon">view_in_ar</mat-icon>View 3D Model</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1">
                <hr class="gridLine">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <img src="./../../assets/brakelever2.png" class="projectImg" [class.mat-elevation-z6]="true">
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="8">
                <mat-card class="largeCard" [class.mat-elevation-z6]="true">

                    <div class="cardTitleContainer">
                        <mat-card class="cardTitleBox" [class.mat-elevation-z4]="true">
                            <img src="./../../assets/hammer-and-anvil-48.png" class="iconImg"><a class="cardTitle">Forged Carbon-Fiber</a>
                        </mat-card>
                    </div>

                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <p class="cardText">
                        As above this one was more of a test of a manufacturing and design process rather than a complete project in itself. I wanted to test the process of both designing and creating a solid forged carbon piece. The mold making process is more complex for a forged carbon piece over a carbon fiber one due to the fact that the material needs to under compression to consolidate and cure in the correct structure. To address this, I designed a split-compression mold that compresses the material like a piston in a cylinder. Click view more information to read on.
                    </p>
                    
                    <mat-divider class="cardDivider" [inset]="true"></mat-divider>

                    <mat-card-actions>
                        <div class="cardActions">
                            <button mat-stroked-button class="actionButtons" (click)="forgedCarbon()"><mat-icon class="buttonIcon">feed</mat-icon>More Information</button>
                            <button mat-stroked-button class="actionButtons" (click)="ForgedCarbonModel()"><mat-icon class="buttonIcon">view_in_ar</mat-icon>View 3D Model</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="2" rowspan="1">
                <hr class="gridLine">
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>